<section class="w-full relative overflow-hidden py-32">
    <div class="w-full text-center p-0 m-0 mb-20">
        <span class="title-holder text-3xl md:text-5xl font-bold text-black mt-3 relative inline-block">
            Our clients are the heart of everything we do.
        </span>
    </div>

    <div class="flex border w-full h-scre">
        <div class="border h-[10em] w-[10em]">
            <img  src="/images/home/clients/image_1.svg" alt="Client 1" class="w-full h-full object-contain" />
        </div>
                <div class="border h-[10em] w-[10em]">
            <img  src="/images/home/clients/image_2.svg" alt="Client 1" class="w-full h-full object-contain" />
        </div>
                <div class="border h-[10em] w-[10em]">
            <img  src="/images/home/clients/image_3.svg" alt="Client 1" class="w-full h-full object-contain" />
        </div>
                <div class="border h-[10em] w-[10em]">
            <img  src="/images/home/clients/image_5.svg" alt="Client 1" class="w-full h-full object-contain" />
        </div>
    </div>
</section>