<section class="w-full relative overflow-hidden py-32">
    <div class="w-full text-center p-0 m-0 mb-20">
        <span class="title-holder text-3xl md:text-5xl font-bold text-black mt-3 relative inline-block">
            Our clients are the heart of everything we do.
        </span>
    </div>

    <!-- <div class="wrapper relative w-full h-[10em] mx-auto overflow-hidden">
        <div class="boxes h-full w-[calc(100%+20em)] justify-center relative border border-red-800 left-[-10em] right-[-10em]">
            @for (item of items; track $index) {
                <div class="box h-[10em] md:w-[10em] absolute">
                    <img  src="{{item.image}}" alt="{{item.alt}}" class="w-full h-full object-contain" />
                </div>
            }         
        </div>
    </div> -->

    <app-client-carousel [items]="items" />
</section>
