<section class="w-full relative py-20">
    <div class="w-full text-center p-0 m-0">
        <span class="title-holder text-3xl md:text-5xl font-bold text-black mt-3 relative">
            Innovative Solutions for a Digital World
        </span>
    </div>

    <div class="grid md:grid-cols-3 gap-5 mt-20 mx-10">
        <div class="">
            <app-innovation-card />
        </div>
        <div class="">
            <app-innovation-card />
        </div>
         <div class="">
            <app-innovation-card />
        </div>

    </div>
</section>