.title-holder::before {
    content: "";
    width: 25%;
    height: 5px;
    background: linear-gradient(to right, #066030, #799B35, #ADDE4B) bottom no-repeat;
    background-size: 100%;
    position: absolute;
    bottom: -10px;
    left: 0;
    border-radius: 5px;
    /* transform: translate(-50%, -50%); */
}