<section class="w-full relative overflow-hidden">
    <div class="w-full text-center p-0 m-0 mb-20">
        <span class="title-holder text-3xl md:text-5xl font-bold text-black mt-3 relative inline-block">
            Our Products
        </span>
    </div>

    <div class="container-fluid space-y-32">
        <div class="flex flex-col lg:flex-row justify-between mb-0 h-auto product-container">
            <div class="product-content w-full lg:w-1/2 flex flex-col items-start space-y-8 mt-[-50px] pt-32 px-15 rounded-t-3xl  bg-[rgba(141,141,141,0.15)]">
                <img src="/images/product/central_lms_logo.svg" alt="Central LMS Logo" class="w-48 h-auto object-contain">
                <p class="text-xl md:text-2xl leading-relaxed text-black">
                    Engineered to enhance employees skills, compliance, and productivity with customizable content, real-time tracking and advance reporting.
                </p>
                <button class="bg-[#09542a] text-white text-lg rounded-[20px] px-8 py-3 hover:bg-opacity-90 transition-colors">
                    Learn more
                </button>
            </div>
            
            <!-- Image Content (Right) -->
            <div class="w-full lg:w-1/2 relative flex items-center justify-center py-10 mix-blend-multiply bg-[rgba(141,141,141,0.15)]">
                <!-- Composition of images based on Group 20 -->
                <div class="relative h-auto">
                     <!-- Background/Mask elements simulated -->
                     <img src="/images/product/central_lms.png" alt="Dashboard Preview" class="rounded-lg z-10">
                     
                     <!-- Floating elements -->
                     <img src="/images/product/central_sense.svg"  alt="Central Sense" class="absolute top-15 left-[-60px] w-30 h-auto object-contain z-20 drop-shadow-md rounded-2" />
                     <img src="/images/product/point_traning.svg"  alt="Point and Training" class="absolute bottom-15 left-[-60px] w-30 h-auto object-contain z-20 drop-shadow-md rounded-2" />
                     <img src="/images/product/progress.svg"  alt="Progress" class="absolute bottom-15 right-[-40%] w-80 h-auto object-contain z-20 drop-shadow-md rounded-2" />
                     
                     <!-- Small group of assets -->
                     <!-- <div class="absolute bottom-0 right-10 flex space-x-2 z-30 border">
                        <img src="assets/images/product/mlp1qjzt-8gt7pqb.png" alt="Asset 2" class="w-24 h-auto">
                        <img src="assets/images/product/mlp1qjzt-rg8e6oi.png" alt="Asset 4" class="w-32 h-auto">
                     </div> -->
                </div>
            </div>
        </div>

        <div class="flex flex-col lg:flex-row justify-between mb-0 h-auto product-container">
            <!-- Image Content (Right) -->
            <div class="w-full lg:w-1/2 relative flex items-center justify-center py-10 mt-[-50px] rounded-3xl bg-[rgba(141,141,141,0.2)] mix-blend-darken">
                <!-- Composition of images based on Group 20 -->
                <div class="relative h-auto">
                     <!-- Background/Mask elements simulated -->
                     <img src="/images/product/learno.svg " alt="Dashboard Preview" class="rounded-lg z-10">
                     
                </div>
            </div>
            <div class="product-content w-full lg:w-1/2 flex flex-col items-start space-y-8 pt-32 px-15 bg-[rgba(141,141,141,0.2)]">
                <img src="/images/product/central_lms_logo.svg" alt="Central LMS Logo" class="w-48 h-auto object-contain">
                <p class="text-xl md:text-2xl leading-relaxed text-black">
                    Engineered to enhance employees skills, compliance, and productivity with customizable content, real-time tracking and advance reporting.
                </p>
                <button class="bg-[#09542a] text-white text-lg rounded-[20px] px-8 py-3 hover:bg-opacity-90 transition-colors">
                    Learn more
                </button>
            </div>
        </div>

        <div class="flex flex-col lg:flex-row justify-between mb-0 h-auto product-container">
            <div class="product-content w-full lg:w-1/2 flex flex-col items-start space-y-8 pt-32 px-15  bg-[rgba(255,255,255,0.15)]">
                <img src="/images/product/central_lms_logo.svg" alt="Central LMS Logo" class="w-48 h-auto object-contain">
                <p class="text-xl md:text-2xl leading-relaxed text-black">
                    Engineered to enhance employees skills, compliance, and productivity with customizable content, real-time tracking and advance reporting.
                </p>
                <button class="bg-[#09542a] text-white text-lg rounded-[20px] px-8 py-3 hover:bg-opacity-90 transition-colors">
                    Learn more
                </button>
            </div>
            
            <!-- Image Content (Right) -->
            <div class="w-full lg:w-1/2 relative flex items-center justify-center mt-[-50px] py-10 mix-blend-normal bg-[#ffffff]">
                <!-- Composition of images based on Group 20 -->
                <div class="relative h-auto">
                     <!-- Background/Mask elements simulated -->
                     <img src="/images/product/central_lms.png" alt="Dashboard Preview" class="rounded-lg z-10">
                     
                </div>`
            </div>
        </div>
        

    </div>

    
</section>
